.login {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
}

.login--container {
  width: 300px;
  height: 500px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
  box-shadow:
   0 1px 4px rgba(0, 0, 0, .0),
   -23px 0 20px -23px rgba(0, 0, 0, .2),
   23px 0 20px -23px rgba(0, 0, 0, .2),
   0 0 40px rgba(0, 0, 0, .0) inset;
  position: relative;
}

.login--title {
  font-family: 'Lato';
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 40px;
  color: #197BBD;
}

.login--logo {
  width: 70px;
  padding-top: 20px;
}

.login--input {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  width: 250px;
  height: 40px;
  border: 1px solid rgba(147, 146, 146, 0.538);
  border-radius: 3px;
  padding-left: 10px;
}

.login--button {
  margin-top: 40px;
  width: 262px;
  height: 30px;
  font-family: 'Lato';
  background-color: #ffffff;
  border: 1px solid rgba(147, 146, 146, 0.538);
  color: #197BBD;
}

.login--button:hover {
  background-color: #F0F7FF;
  border: 1px solid #197BBD;
  font-weight: bold;
}

.login--signup--link {
  display: block;
  text-decoration: none;
  font-size: 10px;
  color: #197BBD;
  position: absolute;
  bottom: 40px;
  left: 136px;
}