.goals {
  position: absolute;
  right: 20px;
}

.goals--title--container {
  display: flex;
  align-items: center;
  position: relative;
}

.goals--title {
  font-size: 16px;
  margin-right: 10px;
}

.goals--title--button {
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #FFC145;
}

.goals--title--button:hover {
  border: 1px solid #FFC145;
  background-color: #ffffff;
}

.goals--items {
  display: flex;
}

.goals--button--right {
  position: absolute;
  top: 110px;
  right: -10px;
  width: 10px;
  height: 20px;
  border: none;
  font-size: 40px;
  background-color: rgba(0,0,0,0.0);
  color: #197BBD;
}

.goals--button--right:hover {
  font-weight: bold;
}