.sidebar {
  width: 15%;
  padding: 30px;
  border-right: 1px solid #EBEBEB;
}

.sidebar.dark {
  border-right: 1px solid #000000;
}

.sidebar--logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #0F4264;
  font-weight: bold;
  margin-bottom: 40px;
}

.sidebar--logo.dark {
  color: #ffffff;
}

.sidebar--logo--image {
  width: 40px;
  margin-right: 10px;
  margin-left: 22px;
}

.sidebar--nav {
  padding: 0;
  padding-left: 10px;
}

li {
  list-style-type: none; 
}

.sidebar--nav--item {
  display: flex;
  text-decoration: none;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #C7C7C7;
  height: 20px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.sidebar--nav--item--active {
  color: #197BBD;
  background-color: #F0F7FF;
  padding: 10px 20px;
  border-radius: 5px;
}

.sidebar--nav--item--active.dark {
  color: #ffffff;
  background-color: #2f2f2f;
}

.sidebar--nav--item img {
  width: 20px;
  margin-right: 20px;
  color: #197BBD;
}

.sidebar--promo {
  margin: 0 auto;
}

.sidebar--promo img {
  display: block;
  width: 60px;
  margin: 0 auto;
  margin-top: 130px;
}

.sidebar--promo p {
  font-size: 8px;
  width: 90px;
  text-align: center;
  line-height: 12px;
  margin: 0 auto;
  margin-top: 10px;
}