.new--transaction {
  position: absolute;
  top: 435px;
  right: -5px;
  border-radius: 30px;
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
  padding: 10px 20px;
  margin-top: 20px;
  width: 480px;
}

.new--transaction.dark {
  /* background-color: #2f2f2f; */

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
}

.new--transaction--title {
  font-size: 16px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.new--transaction input {
  width: 175px;
  height: 28px;
  border-radius: 8px;
  border: 1px solid #197BBD;
  margin-right: 10px;
  padding-left: 5px;
  padding-top: 4px;
}

.new--transaction.dark input {
  background-color: #2f2f2f;
  border: 1px solid #000000;
}

.new--transaction input::placeholder {
  font-family: "Lato";
  font-size: 20px;
  align-items: center;
}

.transaction--send--button {
  background-color: #FFC145;
  color: #404040;
  width: 131px;
  height: 35px;
  border-radius: 13px;
  border: none;
  align-items: center;
  text-align: center;
  font-family: 'Lato';
  font-weight: 700;
  font-size: 11px;
}

.transaction--send--button:hover {
  background-color: #ffffff;
  border: 1px solid #FFC145;
}

.transaction--send--button > span {
  padding-left: 5px;
  font-weight: bold;
  font-size: 13px;
  align-items: center;
  text-align: center;
}

.container--account {
  display: flex;
  width: 160px;
  margin: 0;
  align-items: center;
}

.transaction--title--button {
  margin-top: 5px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #FFC145;
}

.transaction--title--button:hover {
  border: 1px solid #FFC145;
  background-color: #ffffff;
}

.new--transaction--container {
  display: flex;
  align-items: center;
}