.cards {
  display: flex;
  justify-content: space-between;
  width: 45%;
  height: 50%;
  border-radius: 30px;
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
}

.card {
  padding: 20px;
  padding-right: 0;
}

.card--title {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.card img {
  width: 220px;
  padding-right: 30px;
  border-right: 1px solid #d6d6d67c;
}

.card--limit {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

.card--limit p {
  margin: 0;
  font-size: 12px;
  color: #AEAEAE;
}

.card--limit--balance span {
  color: #000000;
}

.card--info {
  padding: 30px 20px;
}

.card--info--item {
  text-align: right;
  font-size: 12px;
  margin-bottom: 20px;
}

.card--info--item p {
  margin: 0;
  color: #AEAEAE;
}

.card--info--item:nth-child(1) p:nth-child(1) {
  font-size: 22px;
  color: #197BBD;
  font-weight: bold;
}

.card--info--item:nth-child(2) p:nth-child(1) {
  font-size: 16px;
  color: #439A86;
  font-weight: bold;
}

.card--info--item:nth-child(3) p:nth-child(1) {
  font-size: 16px;
  color: #BB4430;
  font-weight: bold;
}

.card--info--deactivate {
  color: #AEAEAE;
  margin: 0;
  font-size: 12px;
  text-align: right;
}
