.goals {
  position: absolute;
  right: 20px;
}

.goals--title--container {
  display: flex;
  align-items: center;
  position: relative;
}

.goals--title {
  font-size: 16px;
  margin-right: 10px;
}

.goals--title--link {
  padding: 0;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  width: 20px;
  height: 20px;
  border: none;
  background-color: #FFC145;
}

.goals--title--link:hover {
  border: 0.5px solid #FFC145;
  background-color: #ffffff;
}

.goals--title--link:visited {
  color: #000000;
}

.goals--items {
  display: flex;
  width: 480px;
  height: 180px;
  overflow-x: scroll;
  margin-bottom: 20px;
}

.goals--button--right {
  position: absolute;
  top: 110px;
  right: -10px;
  width: 10px;
  height: 20px;
  border: none;
  font-size: 40px;
  background-color: rgba(0,0,0,0.0);
  color: #197BBD;
}

.goals--button--right:hover {
  font-weight: bold;
}

.no--goals {
  padding: 60px 30px;
  align-items: center;
  display: flex;
}

.no--goals h2 {
  margin-right: 20px;
  font-size: 20px;
  text-transform: uppercase;
}

.no--goals--link {
  padding: 0;
  text-decoration: none;
  font-weight: bold;
  border-radius: 50%;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  width: 35px;
  height: 35px;
  border: none;
  background-color: #FFC145;
}

.no--goals--link:hover {
  border: 1px solid #FFC145;
  background-color: #ffffff;
}

.no--goals--link:visited {
  color: #000000;
}