.page--goals {
  width: 100%;
  height: 100%;
  padding: 30px 20px;
}

.page--goals--container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 15px;
  height: 100%;
  padding: 10px;
}

.goals--form--container {
  grid-area: 1 / 1 / 2 / 2;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.goals--item--container {
  grid-area: 1 / 2 / 2 / 3;
  padding: 20px;
  margin-top: 80px;
  height: 350px;
  overflow-y: scroll;
}

.goals--form--title {
  text-transform: uppercase;
  font-size: 20px;
  color: #197BBD;
  font-weight: bold;
}

.goals--form--title.dark {
  color: #FFFFFF;
}


.goals--form--input {
  display: block;
  margin-top: 30px;
  width: 300px;
  height: 40px;
  border: 1px solid rgba(147, 146, 146, 0.538);
  border-radius: 3px;
  padding-left: 10px;
}

.goals--form--input.dark {
  background-color: #2f2f2f;
}

.goals--form--input--select {
  display: block;
  margin-top: 30px;
  width: 315px;
  height: 40px;
  border: 1px solid rgba(147, 146, 146, 0.538);
  color: #3c3c3cb3;
  border-radius: 3px;
  padding-left: 10px;
}

.goals--form--input--select.dark {
  background-color: #2f2f2f;
  color: rgba(147, 146, 146, 0.538);
}

.goals--form--button {
  width: 314px;
  height: 40px;
  margin-top: 50px;
  font-family: 'Lato';
  background-color: #ffffff;
  border: 1px solid rgba(147, 146, 146, 0.538);
  color: #197BBD;
  text-transform: uppercase;
}

.goals--form--button:hover {
  background-color: #F0F7FF;
  border: 1px solid #197BBD;
  font-weight: bold;
}

.goals--form--button.dark {
  background-color: #2f2f2f;
  color: #ffffff;
}
.goals--form--button.dark:hover {
  background-color: #373737;
  border: 1px solid #ffffff;
}

.goals--item {
  width: 380px;
  height: 70px;
  border-radius: 28px;
  box-shadow: 0px 5px 5px 1px rgba(0,0,0,0.1);
  font-family: "Lato";
  margin-bottom: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}

.goals--item.dark {
  background-color: #2f2f2f;
}

.goals--item img {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-left: 10px;
}

.goals--item--title {
  margin-right: auto;
}

.goals--item--title h4 {
  font-size: 20px;
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
}


.goals--item--title p {
  margin: 0;
  padding: 0;
  color: #696969;
  font-size: 14px;
  font-style: italic;
}

.goals--item--title.dark p {
  color: #ffffff;
}

.goals--item--amount {
  margin-right: 22px;
  font-size: 28px;
  font-weight: bold;
  font-style: italic;
  opacity: .6;
}

.goals--item--amount.dark {
  color: #ffffff;
}

.no--goals--item {
  align-items: center;
  padding-top: 100px;
  text-transform: uppercase;
  word-spacing: 2px;
}

.error--input {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: red;
  position: absolute;
  left: 362px;
  text-align: start;
}

/* Button */

.goals--item--button {
  display: flex;
  flex-direction: column;
}

.button--delete {
  display: block;
  width: 30px;
  height: 15px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  background-color: #ffffff;
  color: red;
  border: none;
}

.button--delete.dark {
  background-color: #2f2f2f;
}

.button--done {
  display: block;
  width: 30px;
  height: 15px;
  text-align: center;
  font-weight: bold;
  align-items: center;
  background-color: #ffffff;
  color: green;
  border: none;
  margin-bottom: 5px;
}

.button--done.dark {
  background-color: #2f2f2f;
}
